In [8]:
import pandas as pd
import numpy as np

In [10]:
baseball = pd.read_csv('2019_baseball_hitter20.csv',
                      encoding='utf-8')
#baseball

In [9]:
baseball = pd.read_excel('baseball.xlsx',encoding='utf-8')
#baseball

In [11]:
type(baseball)

pandas.core.frame.DataFrame

In [12]:
baseball.index

RangeIndex(start=0, stop=20, step=1)

In [13]:
baseball.columns

Index(['순번', '이름', '팀명', '타율', '경기수', '타수', '안타', '2루타', '3루타', '홈런', '타점',
       '득점', '도루', '볼넷', '삼진', '출루율', '장타율'],
      dtype='object')

In [15]:
baseball.head()

,순번,이름,팀명,타율,경기수,타수,안타,2루타,3루타,홈런,타점,득점,도루,볼넷,삼진,출루율,장타율
0,1,양의지,NC,0.354,118,390,138,26,0,20,68,61,4,48,43,0.438,0.574
1,2,페르난데스,두산,0.344,144,572,197,34,0,15,88,87,1,61,54,0.409,0.483
2,3,박민우,NC,0.344,125,468,161,23,8,1,45,89,18,41,40,0.403,0.434
3,4,이정후,키움,0.336,140,574,193,31,10,6,68,91,13,45,40,0.386,0.456
4,5,강백호,KT,0.336,116,438,147,29,1,13,65,72,9,61,87,0.416,0.495

In [17]:
baseball.tail(8)

,순번,이름,팀명,타율,경기수,타수,안타,2루타,3루타,홈런,타점,득점,도루,볼넷,삼진,출루율,장타율
12,13,김태균,한화,0.305,127,433,132,21,0,6,62,47,3,54,94,0.382,0.395
13,14,샌즈,키움,0.305,139,525,160,39,1,28,113,100,1,77,101,0.396,0.543
14,15,김현수,LG,0.304,140,526,160,37,0,11,82,75,3,54,52,0.370,0.437
15,16,전준우,롯데,0.301,141,545,164,30,1,22,83,85,8,46,71,0.359,0.481
16,17,서건창,키움,0.300,113,426,128,23,3,2,41,67,17,49,50,0.373,0.383
17,18,최형우,KIA,0.300,136,456,137,31,1,17,86,65,0,85,77,0.413,0.485
18,19,김헌곤,삼성,0.297,114,411,122,20,1,5,46,57,10,37,41,0.361,0.387
19,20,손아섭,롯데,0.295,134,512,151,22,1,10,63,78,13,52,92,0.360,0.400

In [21]:
#홈런수를 기준으로 테이블을 정렬해주세요!!
baseball.sort_values(by='홈런',ascending=False)

,순번,이름,팀명,타율,경기수,타수,안타,2루타,3루타,홈런,타점,득점,도루,볼넷,삼진,출루율,장타율
13,14,샌즈,키움,0.305,139,525,160,39,1,28,113,100,1,77,101,0.396,0.543
6,7,로하스,KT,0.322,142,521,168,30,3,24,104,68,4,49,120,0.381,0.530
15,16,전준우,롯데,0.301,141,545,164,30,1,22,83,85,8,46,71,0.359,0.481
0,1,양의지,NC,0.354,118,390,138,26,0,20,68,61,4,48,43,0.438,0.574
11,12,김하성,키움,0.307,139,540,166,38,2,19,104,112,33,70,80,0.389,0.491
17,18,최형우,KIA,0.300,136,456,137,31,1,17,86,65,0,85,77,0.413,0.485
1,2,페르난데스,두산,0.344,144,572,197,34,0,15,88,87,1,61,54,0.409,0.483
8,9,유한준,KT,0.317,139,501,159,19,1,14,86,61,3,52,61,0.383,0.443
4,5,강백호,KT,0.336,116,438,147,29,1,13,65,72,9,61,87,0.416,0.495
9,10,채은성,LG,0.315,128,470,148,18,1,12,72,59,2,24,67,0.358,0.434
14,15,김현수,LG,0.304,140,526,160,37,0,11,82,75,3,54,52,0.370,0.437
19,20,손아섭,롯데,0.295,134,512,151,22,1,10,63,78,13,52,92,0.360,0.400
7,8,박건우,두산,0.319,127,458,146,27,5,10,64,83,12,60,57,0.397,0.465
12,13,김태균,한화,0.305,127,433,132,21,0,6,62,47,3,54,94,0.382,0.395
3,4,이정후,키움,0.336,140,574,193,31,10,6,68,91,13,45,40,0.386,0.456
18,19,김헌곤,삼성,0.297,114,411,122,20,1,5,46,57,10,37,41,0.361,0.387
5,6,고종욱,SK,0.323,137,492,159,25,7,3,56,76,31,18,89,0.347,0.421
16,17,서건창,키움,0.300,113,426,128,23,3,2,41,67,17,49,50,0.373,0.383
10,11,이천웅,LG,0.308,138,546,168,24,3,2,48,88,21,57,82,0.378,0.374
2,3,박민우,NC,0.344,125,468,161,23,8,1,45,89,18,41,40,0.403,0.434

In [25]:
#del baseball['순번']
baseball

,이름,팀명,타율,경기수,타수,안타,2루타,3루타,홈런,타점,득점,도루,볼넷,삼진,출루율,장타율
0,양의지,NC,0.354,118,390,138,26,0,20,68,61,4,48,43,0.438,0.574
1,페르난데스,두산,0.344,144,572,197,34,0,15,88,87,1,61,54,0.409,0.483
2,박민우,NC,0.344,125,468,161,23,8,1,45,89,18,41,40,0.403,0.434
3,이정후,키움,0.336,140,574,193,31,10,6,68,91,13,45,40,0.386,0.456
4,강백호,KT,0.336,116,438,147,29,1,13,65,72,9,61,87,0.416,0.495
5,고종욱,SK,0.323,137,492,159,25,7,3,56,76,31,18,89,0.347,0.421
6,로하스,KT,0.322,142,521,168,30,3,24,104,68,4,49,120,0.381,0.530
7,박건우,두산,0.319,127,458,146,27,5,10,64,83,12,60,57,0.397,0.465
8,유한준,KT,0.317,139,501,159,19,1,14,86,61,3,52,61,0.383,0.443
9,채은성,LG,0.315,128,470,148,18,1,12,72,59,2,24,67,0.358,0.434
10,이천웅,LG,0.308,138,546,168,24,3,2,48,88,21,57,82,0.378,0.374
11,김하성,키움,0.307,139,540,166,38,2,19,104,112,33,70,80,0.389,0.491
12,김태균,한화,0.305,127,433,132,21,0,6,62,47,3,54,94,0.382,0.395
13,샌즈,키움,0.305,139,525,160,39,1,28,113,100,1,77,101,0.396,0.543
14,김현수,LG,0.304,140,526,160,37,0,11,82,75,3,54,52,0.370,0.437
15,전준우,롯데,0.301,141,545,164,30,1,22,83,85,8,46,71,0.359,0.481
16,서건창,키움,0.300,113,426,128,23,3,2,41,67,17,49,50,0.373,0.383
17,최형우,KIA,0.300,136,456,137,31,1,17,86,65,0,85,77,0.413,0.485
18,김헌곤,삼성,0.297,114,411,122,20,1,5,46,57,10,37,41,0.361,0.387
19,손아섭,롯데,0.295,134,512,151,22,1,10,63,78,13,52,92,0.360,0.400

In [26]:
baseball
data = baseball
data #복사도 가능하다

,이름,팀명,타율,경기수,타수,안타,2루타,3루타,홈런,타점,득점,도루,볼넷,삼진,출루율,장타율
0,양의지,NC,0.354,118,390,138,26,0,20,68,61,4,48,43,0.438,0.574
1,페르난데스,두산,0.344,144,572,197,34,0,15,88,87,1,61,54,0.409,0.483
2,박민우,NC,0.344,125,468,161,23,8,1,45,89,18,41,40,0.403,0.434
3,이정후,키움,0.336,140,574,193,31,10,6,68,91,13,45,40,0.386,0.456
4,강백호,KT,0.336,116,438,147,29,1,13,65,72,9,61,87,0.416,0.495
5,고종욱,SK,0.323,137,492,159,25,7,3,56,76,31,18,89,0.347,0.421
6,로하스,KT,0.322,142,521,168,30,3,24,104,68,4,49,120,0.381,0.530
7,박건우,두산,0.319,127,458,146,27,5,10,64,83,12,60,57,0.397,0.465
8,유한준,KT,0.317,139,501,159,19,1,14,86,61,3,52,61,0.383,0.443
9,채은성,LG,0.315,128,470,148,18,1,12,72,59,2,24,67,0.358,0.434
10,이천웅,LG,0.308,138,546,168,24,3,2,48,88,21,57,82,0.378,0.374
11,김하성,키움,0.307,139,540,166,38,2,19,104,112,33,70,80,0.389,0.491
12,김태균,한화,0.305,127,433,132,21,0,6,62,47,3,54,94,0.382,0.395
13,샌즈,키움,0.305,139,525,160,39,1,28,113,100,1,77,101,0.396,0.543
14,김현수,LG,0.304,140,526,160,37,0,11,82,75,3,54,52,0.370,0.437
15,전준우,롯데,0.301,141,545,164,30,1,22,83,85,8,46,71,0.359,0.481
16,서건창,키움,0.300,113,426,128,23,3,2,41,67,17,49,50,0.373,0.383
17,최형우,KIA,0.300,136,456,137,31,1,17,86,65,0,85,77,0.413,0.485
18,김헌곤,삼성,0.297,114,411,122,20,1,5,46,57,10,37,41,0.361,0.387
19,손아섭,롯데,0.295,134,512,151,22,1,10,63,78,13,52,92,0.360,0.400

In [29]:
#이름,홈런만 추출하라
baseball.loc[:,['이름','홈런']].head(3)

      이름  홈런
0    양의지  20
1  페르난데스  15
2    박민우   1

In [33]:
#loc를 이용해서 이름 홈런 경기수 타율 삼진을 출력하자
#인덱값으로 3~7까지만 출력
baseball.loc[3:7,['이름','경기수','타율','삼진']]

     이름  경기수     타율   삼진
3   이정후  140  0.336   40
4   강백호  116  0.336   87
5   고종욱  137  0.323   89
6   로하스  142  0.322  120
7   박건우  127  0.319   57